/* цвет основного текста */  #E5E5E5;

/* вторичный цвет, темный */ #2F303A;

/* белый(футер, задний фон li фоток) */ #FFFFFF;

/* Наша команда задник */  #F5F4FA;

/* кнопка синяя */ #2196F3;

/* Заголовки ,nav, портф-фичи,h1 */ background: #212121;

/* p, sect */  #757575;
/*  футер.адрес, тел */  background: #FFFFFF 60 %;

Шрифты 
/* основной шрифт */ font-family: Roboto;

/* логотип */ font-family: Raleway; 
font-family: Oleo Script





:root {
--primary-text-color: #212121;
--text-color-p: #757575;


}



