/* цвет основного текста  #E5E5E5

вторичный цвет, темный #2F303A

белый(футер, h1-hero, задний фон li фоток) #FFFFFF;

Наша команда задник  #F5F4FA

кнопка синяя #2196F3

Заголовки ,nav, портф-фичи,h1 #212121

p, sect  #757575

 футер.адрес, тел  background: 255,255,255,0,6;
;
 
основной шрифт  Roboto

логотип  Raleway 
 */

:root {
    --primary-text-color: #212121;
    --text-color-p: #757575;    
    --white: #FFFFFF;
    --main-background: #E5E5E5;
    --hero-footer-bcg: #2F303A;
    --blue: #2196F3;
    --primary-font: Roboto;
    --logo-font: Raleway;
    --footer-address: rgba(255, 255, 255, 0.6);
    --bcg-team: #F5F4FA
    }

              /* site-nav */

.site-nav {
    background-color: var(--white);
}

.nav-logo {
    color: var(--blue);
    font-family: var();
}
.studio{
    color: var(--primary-text-color);
}

.site-link {
    color: var(--primary-text-color);
}
.site-link:hover,
.site-link:focus {
    color: var(--blue);
}

 .site-link.current{
    color: var(--blue);
} 

.info{
    color: var(--text-color-p);
}
.info:hover,
.info:focus{
    color: var(--blue);
}

main{
    background-color: var(--bcg-team);
}

/* hero */
.hero {
    background-color: var(--hero-footer-bcg);
}


.hero-title{
    color: var(--white);
    font-family: Roboto;
}

.btn{
    color: var(--white);
    background: var(--blue);
}

/* details */
.details-title{
    color: var(--primary-text-color);
}
.details-text{
    color: var(--text-color-p);
}
/* .details{
    background-color: var(--main-background);
} */

/* occupation */
.occupation-title{
    color: var(--primary-text-color);
}
/* .occupation{
    background-color: var(--main-background);   
} */

/* team */
.team-title .team-names{
    color: var(--primary-text-color);
}

.team-text{
    color: var(--text-color-p);
}
/* .team{
    background-color: var(--bcg-team);
} */


/* Portfolio */

/* Features */
.feature-link{
    color: var(--primary-text-color);
}
.feature-link:hover,
.feature-link:focus{
    color: var(--blue);
}
.offer-title{
    color: var(--primary-text-color);
}

.offer-text{
    color: var(--text-color-p);
}
.offer-bcg{
    background-color: var(--white);
}

/* footer */
.footer{
    background: #2F303A;
}
.footer-logo {
    color: var(--blue);
}
.footer-span {
    color: var(--white); 
}
    

.f-address{
    color: var(--white);
}

.f-address:hover,
.f-address:focus{
    color: var(--blue);
}

.footer-info {
    color: var(--footer-address);
}

.footer-info:hover,
.footer-info:focus {
    color: var(--blue);
}